<div class="container d-flex flex-column justify-content-center">
  <div>
    <h3 class="title">Collections</h3>
    <%= link_to "Add pictures", new_collection_path, class: "nav-link btn btn-outline-light text outline-none me-4" %>
  </div>
  <div class="collect-grid d-flex justify-content-start">
    <%# <div class="d-flex flex-wrap"> %>
      <% @collections.each do |collection| %>
        <%= link_to collection_path(collection) do %>
          <div class="coll-card position-relative">
            <div class="img-container">
              <%= cl_image_tag collection.photo.key, height: 250, crop: :fill, class: "photo" %>
            </div>
          </div>
        <% end %>
      <% end %>
    <%# </div> %>
  </div>
</div>
