html {
  height: 100vh;
}

.sub-header {
  width: 100%;
}

.collection-link {
  height: 224px;
  width: 230px;
}

.collect-grid {
  height: 600px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 20px;
}

h3 {
  color: black;
}

a {
  color: black;
}

button {
  width: 20%;
  background: black;
}
