// html, body, div {
//   box-sizing: border-box;
// }

// html, body {
//   margin: 0 auto;
//   padding: 0;
// }

html {
  height: 400px;
}

body {
  width: 100%;
  position: relative;
  top: -16px;
}

h3 {
  color: black;
}

a {
  color: black;
}

button {
  background: black;
}
