// html, body, div {
//   box-sizing: border-box;
// }

// html, body {
//   height: 100%;
// }

// html, body {
// }

body {
  height: 100%;
  position: relative;
  // top: -20px;
}

.container {
  // margin: 100px;
  // margin-top: 0;
  // margin-bottom: 0;
  width: 100vw;
}

.sub-header {
  width: 100%;
}

.collection-link {
  margin: 5px;
  height: 200px;
  width: 230px;
}

.collect-grid {
  height: 420px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h3 {
  color: black;
}

a {
  color: black;
}

button {
  width: 20%;
  background: black;
}
