// html, body {
//   height: 100%;
//   width: 100%;
// }

// body {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .navbar {
//   display: none;
// }

div, a {
  display: flex;
  justify-content: center;
  align-items: center;
}

#landing {
  height: 98.5vh;
  width: 99vw;
  position: relative;
}

a {
  height: 60%;
  width: 600px;
}

// #landing-img-left, #landing-img-right {
// }

// .animation {
//   position: absolute;
// }

// #landing-img-left {
//   object-position: -79px;
//   animation-name: moveLeft;
// }

// #landing-img-right {
//   object-position: 79px
// }

// @keyframes moveLeft {
//   0% {  }
// }

// #landing-img-left {

// }
