<%= link_to collections_path do %>
  <div class="landing">
    <img src="<%= asset_path('fisher_logo_left.png') %>" id="landing-img-left">
    <img src="<%= asset_path('fisher_logo_right.png') %>" id="landing-img-right">
  </div>
<% end %>
