<div id="landing">
  <%= link_to collections_path, action: "click->open#slideLeft" do %>
    <img src="<%= asset_path('fisher_logo_left.png') %>" id="landing-img-left" class="animation">
    <img src="<%= asset_path('fisher_logo_right.png') %>" id="landing-img-right" class="animation" >
  <% end %>
</div>
