.coll-card, .img-card {
  border: 3px solid dimgray;
  display: flex;
  flex-direction: column;
  background-color: black;
}

a {
  height: 30%;
  width: 30%;
}

.img-container {
  height: 100%;
  width: 230px;
}
