.navbar {
  margin-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  // background-color: rgb(175, 36, 36);
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-img {
  height: 100%;
  width: 60px;
}

.nav-title {
  width: 275px;
}

.nav-link {
  border: 0;
  color: white;
}

.signup {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  color: white;
}

.home-link {
  width: 400px;
}

a {
  text-decoration: none;
  color: white;
}
