<div class="container">
  <div class="card img-card rounded-4 card-img-top">
    <div class="img-container">
      <%= cl_image_tag @image.photos[0].key, class: "photo rounded-top-4" %>
    </div>
    <div class="d-flex justify-content-between text-white img-box">
      <p>Views: <%= @image.views %></p>
      <%= button_to "Download", download_collection_image_path(@collection, @image), methode: :download %>
    </div>
  </div>
</div>
